html {
  font-family: "Roboto", sans-serif;
  background-color: #f1fffa;
  color: #454545;
}

h1 {
  text-align: center;
}

h2 {
  overflow: hidden;
  text-align: center;
}

.nav-style {
  background-color: #f1fffa;
  padding: 20px;
  padding-left: 100px;
  margin-left: 0;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

.main-name {
  font-size: 85px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.nav-option {
  color: #bb4d00;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
}

.section-title {
  color: #bb4d00;
  padding-top: 55px;
  font-size: 35px;
}

@media screen and (max-width: 600px) {
  .section-title {
    padding-top: 10px;
    font-size: 25px;
  }
  .section-whole {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

.section-whole {
  padding-left: 10vw;
  padding-right: 10vw;
}

.ul-title {
  font-weight: 600;
  margin-bottom: 0;
}

ul {
  margin-top: 5px;
}

.company-name {
  font-style: italic;
  margin-top: 0;
  padding-top: 5px;
  color: black;
}

.designation {
  font-weight: bolder;
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.duration {
  color: #454545;
}

.contact-style {
  text-align: center;
}

.footer-style {
  text-align: center;
  padding: 20px;
}

.projects-list {
  list-style-type: none;
  padding: 0;
}

.project-item {
  margin-top: 40px;
}

.project-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}

.project-description {
  margin-top: 10px;
}

.project-title a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 5px;
}
